<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/city-sim-game/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/city-sim-game/css/game.css}"/>

  </head>
  <body>
    <div id="day">
      <div id="background-wrap">
        <div class="x2">
            <div class="cloud"></div>
        </div>

        <div class="x3">
            <div class="cloud"></div>
        </div>

        <div class="x4">
            <div class="cloud"></div>
        </div>

        <div class="x5">
            <div class="cloud"></div>
        </div>
      </div>
      <nav id="navContainer">
        <div id="navbar">
          <h1 id="title">CITY SIMULATION</h1>
          <ul id="nav">
            <li>Home</li>
            <li>About</li>
            <li>Credits</li>
          </ul>
        </div>
      </nav>
      <div id="sim">
        <div id="canvasContainer">
          <canvas id="bg"></canvas>
          <div id="cityName">City: APHRODITE</div>
        </div>
        <div id="menuContainer">
          <div id="menu">
            <div id="shop"></div>
            <div id="feedBox">
                <div id="feed">
                </div>
              <div id="total">Total: $<span id="profit">0</span></div>
            </div>
              <div id="profitButton">
                <button class="button" id="button">Generate Profit</button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <canvas id="bgCanvas"></canvas>
    <script type="module" th:src="@{/city-sim-game/javascript/night.js}"></script>
    <script type="module" th:src="@{/city-sim-game/javascript/game.js}"></script>
    <script type="module" th:src="@{/city-sim-game/javascript/bundle.js}"></script>
  </body>
</html>
