<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/city-sim-game/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/city-sim-game/css/home.css}"/>
</head>
<body>
    <div id="background-wrap">
        <div class="x2">
            <div class="cloud"></div>
        </div>

        <div class="x3">
            <div class="cloud"></div>
        </div>

        <div class="x4">
            <div class="cloud"></div>
        </div>

        <div class="x5">
            <div class="cloud"></div>
        </div>
    </div>
    <nav id="navContainer">
        <div id="navbar">
            <ul id="nav">
                <li>Home</li>
                <li>About</li>
                <li>Credits</li>
            </ul>
        </div>
    </nav>
    <div id="main">
        <h1>CITY SIMULATION</h1>
        <div id="info">
            <label>
                <input type="text" required placeholder="City Name" id="cityName">
            </label>
            <button class="button" id="play" onclick=navigateToGame()>Play</button>
        </div>

        <script>
            function navigateToGame() {
                const cityName = document.getElementById("cityName").value;
                window.location.href = '/game?city=' + encodeURIComponent(cityName);
            }
        </script>
    </div>

</body>
</html>