#navContainer {
    border: 0px red solid;
    display: flex;
    justify-content: center;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    border: 0px black solid;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.605);
    color: black;
    box-shadow: 3px 3px 3px black;
    width: 100%;
}
#nav {
    font-size: 1.5em;
    border: 0px black solid;
    word-spacing: 3em;
}
li {
    list-style-type: none;
    display: inline-block;
}
#main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 8em;
}

#play {
    padding: 1%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Orbitron", sans-serif;
    color: black;
    background-size: cover;
    background-color: skyblue;
}

input {
    background-color: transparent;
    width: 10em;
    text-align: center;
    font-size: 2em;
    border-radius: 36px;
    font-family: "Orbitron", sans-serif;
}

#info {
    border: 0px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.nav-link {
    text-decoration: none;
    color: black;
}